
/* Variables */
@hawkes-blue: #d9e6fc;
@alto-gray: #dbdbdb;
@pageShadowWidth: 15px;

/* Eric Meyer Reset */
body {
    margin: 0;
    padding: 0;
}

/* Box-Sizing Setting */
* {
    box-sizing: border-box;
}

/* Main CSS */
html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(30deg, @alto-gray, @hawkes-blue);
    background-attachment: fixed;
}

.page-container {
    width: 100%;
    max-width: 1024px;
    height: calc(100vh - 2*@pageShadowWidth);
    margin: @pageShadowWidth auto;
    border: 1px solid red;
}
