
/* Fonts and Animations */
@font-face {
    font-family: Savor;
    src: url("Savor.ttf");
}
  
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Variables and Mixins */
@import "variables";

/* Reset */
@import "reset";

/* Global */
@import "global";

/* Main Page Elements */
@import "page-head"; // including main navigation
@import "sidebar";
@import "main-content";
@import "footer";