
/* Colors */
@hawkes-blue: #d9e6fc;
@alto-gray: #dbdbdb;
@regent-blue: #96b1df;
@gray: gray;

/* Color Assignments */
@backdrop-1: @alto-gray;
@backdrop-2: @regent-blue;
@main-bg: @regent-blue;
@section-borders: @gray;

/* Font-Stacks */
@titleFontStack: "Savor", "Verdana", sans-serif;
@headerFontStack: "Trebuchet MS", "Verdana", "Helvetica", sans-serif;
@baseFontStack: "Times New Roman", serif;

/* Layout Dimensions */
@pageShadowWidth: 7px;
@mainpicHeight: 12rem;
@contentHeight: calc(100vh - 2*@pageShadowWidth - @mainpicHeight - 12.4rem);