/* Fonts and Animations */
@font-face {
  font-family: Savor;
  src: url("Savor.ttf");
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Colors */
/* Color Assignments */
/* Font-Stacks */
/* Layout Dimensions */
/* Eric Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
/*
If you reset these properties, it's hard to get them back when you want them.
ol, ul {
	list-style: none;
}
*/
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Box-Sizing Setting */
* {
  box-sizing: border-box;
}
/* Main CSS */
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  background: linear-gradient(150deg, #dbdbdb, #96b1df);
  background-attachment: fixed;
}
.page-container {
  width: calc(100vw-2*7px);
  max-width: 1024px;
  height: calc(100vh - 2*7px);
  margin: 7px auto;
  border-radius: 15px;
  background: #96b1df;
  box-shadow: 0 0 7px black;
  font-size: 1.6rem;
  font-family: "Times New Roman", serif;
}
.page-container h1 {
  font-size: 3.8rem;
  font-weight: bold;
  font-family: "Savor", "Verdana", sans-serif;
}
.page-container h2,
.page-container h3,
.page-container h4,
.page-container h5 {
  font-family: "Trebuchet MS", "Verdana", "Helvetica", sans-serif;
  font-weight: bold;
}
.page-container a {
  text-decoration: none;
}
.page-container > header {
  display: flex;
  flex-direction: column;
}
.page-container > header > header {
  display: flex;
  align-items: center;
}
.page-container > header > header .site-icon {
  width: 6rem;
  height: auto;
  margin: 10px 10px 10px 15px;
}
.page-container > header > header .title-and-slogan {
  margin-left: 10px;
}
.page-container > header > header p {
  margin-left: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  font-style: italic;
  animation-name: fade-in;
  animation-duration: 5s;
}
.page-container > header .main-nav {
  background: url("../assets/mainpic.jpg");
  height: 12rem;
  display: flex;
  align-items: flex-end;
}
.page-container > header .main-nav a {
  margin: 0 0.6%;
  padding: 5px 1.2rem 3px;
  border-top-left-radius: 5px;
  border-top-right-radius: 15px 10px;
  border-width: 2px 2px 0 2px;
  border-style: solid;
  border-color: black;
  background: lightgray;
  font-family: "Trebuchet MS", "Verdana", "Helvetica", sans-serif;
  font-size: 1.8rem;
}
.page-container > header .main-nav a.selected-main-tab {
  background: #96b1df;
}
.page-container > footer {
  padding-top: 0.8rem;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}
.page-container > footer ul {
  list-style: none;
  display: flex;
}
.page-container > footer li {
  margin: 0 0.5rem;
}
.content {
  display: flex;
  flex-direction: row-reverse;
}
.content .sidebar {
  width: 40%;
  height: calc(100vh - 2*7px - 12rem - 12.4rem);
  overflow-y: auto;
}
.content .main-content {
  width: 60%;
  height: calc(100vh - 2*7px - 12rem - 12.4rem);
  margin-top: 15px;
  padding: 5px 2.3% 10px;
  overflow: hidden;
}
.content .main-content .hide-scrollbar {
  overflow: auto;
  padding-right: 28px;
}
