/* Fonts and Animations */
@font-face {
  font-family: Savor;
  src: url("Savor.ttf");
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes vary-backdrop {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes vary-backdrop {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes vary-backdrop {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes vary-backdrop {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* Variables and Mixins */
/* Colors */
/* Color Assignments */
/* Font-Stacks */
/* Media Breakpoints */
/* Layout Dimensions */
/* Cross-Browser Support */
/* Reset */
/* Eric Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
/*
If you reset these properties, it's hard to get them back when you want them.
ol, ul {
	list-style: none;
}
*/
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Global */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  background-attachment: fixed;
  background: linear-gradient(150deg, #dbdbdb, #d9e6fc);
  background-size: 400% 400%;
  -webkit-animation: vary-backdrop 30s ease infinite;
  -moz-animation: vary-backdrop 30s ease infinite;
  -o-animation: vary-backdrop 30s ease infinite;
  animation: vary-backdrop 30s ease infinite;
}
.page-container {
  width: calc(100vw-2*7px);
  max-width: 1024px;
  height: calc(100vh - 2*7px);
  margin: 7px auto;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #96b1df;
  -webkit-box-shadow: 0 0 7px black;
  -moz-box-shadow: 0 0 7px black;
  box-shadow: 0 0 7px black;
  font-size: 1.6rem;
  font-family: "Times New Roman", serif;
}
h2,
h3,
h4,
h5 {
  font-family: "Trebuchet MS", "Verdana", "Helvetica", sans-serif;
  font-weight: bold;
}
a {
  text-decoration: none;
}
/* Main Page Elements */
h1 {
  font-size: 3.8rem;
  font-weight: bold;
  font-family: "Savor", "Verdana", sans-serif;
}
@media (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }
}
.page-container > header {
  display: flex;
  flex-direction: column;
}
.page-container > header > header {
  display: flex;
  align-items: center;
}
.page-container > header > header .site-icon {
  width: 6rem;
  height: auto;
  margin: 10px 10px 10px 15px;
}
@media (max-width: 500px) {
  .page-container > header > header .site-icon {
    width: 3rem;
  }
}
.page-container > header > header .title-and-slogan {
  margin-left: 10px;
}
.page-container > header > header p {
  margin-left: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  font-style: italic;
  animation-name: fade-in;
  animation-duration: 5s;
}
@media (max-width: 500px) {
  .page-container > header > header p {
    display: none;
  }
}
.page-container > header .main-nav {
  background: url("../assets/mainpic.jpg");
  height: 12rem;
  display: flex;
  align-items: flex-end;
}
@media (max-width: 905px) {
  .page-container > header .main-nav {
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }
}
.page-container > header .main-nav a {
  margin: 0 0.6%;
  padding: 5px 1.2rem 3px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 15px 10px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 15px 10px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 15px 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-width: 2px 2px 0 2px;
  border-style: solid;
  border-color: black;
  background: lightgray;
  font-family: "Trebuchet MS", "Verdana", "Helvetica", sans-serif;
  font-size: 1.8rem;
}
@media (max-width: 905px) {
  .page-container > header .main-nav a {
    padding: 5px 1.2rem;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 15px 10px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 15px 10px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 15px 10px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 15px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 15px 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 15px 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-width: 2px;
  }
}
.page-container > header .main-nav a.selected-main-tab {
  background: #96b1df;
}
.content {
  display: flex;
  flex-direction: row-reverse;
}
@media (max-width: 500px) {
  .content {
    flex-direction: column;
  }
}
.content .sidebar {
  width: 40%;
  height: calc(100vh - 2*7px - 12rem - 12.4rem);
  overflow-y: auto;
  padding: 5px;
}
@media (max-width: 500px) {
  .content .sidebar {
    width: 100%;
    height: auto;
  }
}
.content .sidebar:after {
  content: "";
  background: gray;
  width: 1px;
  position: absolute;
  left: 0;
  height: 84%;
  bottom: 6%;
}
.main-content {
  width: 60%;
  height: calc(100vh - 2*7px - 12rem - 12.4rem);
  margin-top: 15px;
  padding: 5px 2.3% 0;
  overflow-y: auto;
}
@media (max-width: 500px) {
  .main-content {
    width: 100%;
    height: auto;
  }
}
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5 {
  margin: 15px 0 8px;
}
.main-content h2 {
  font-size: 2.3rem;
}
.main-content h3 {
  font-size: 2rem;
}
.main-content h4 {
  font-size: 1.8rem;
}
.main-content h5 {
  font-size: 1.6rem;
}
.main-content p {
  margin: 5px 0;
}
.page-container > footer {
  padding-top: 0.8rem;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  position: relative;
}
.page-container > footer:before {
  content: "";
  background: gray;
  height: 1px;
  position: absolute;
  left: 10%;
  width: 80%;
  top: -1px;
}
.page-container > footer ul {
  list-style: none;
  display: flex;
}
.page-container > footer li {
  margin: 0 0.5rem;
}
/* Modular Page Elements */
#accordion {
  margin: 0 8px;
}
#accordion h2 {
  font-size: 1.8rem;
}
#accordion p {
  margin: 5px 0;
}
#accordion .accordion-toggle {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: white;
  text-align: center;
  cursor: pointer;
  padding: 7px;
  -webkit-box-shadow: 0 0 7px black;
  -moz-box-shadow: 0 0 7px black;
  box-shadow: 0 0 7px black;
}
#accordion .accordion-content {
  padding: 5px 20px;
  border-width: 0 2px 2px 2px;
  border-style: solid;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 7px black;
  -moz-box-shadow: 0 0 7px black;
  box-shadow: 0 0 7px black;
  display: none;
}
#accordion .accordion-content ul {
  padding-left: 4rem;
}
#accordion .accordion-content.accordion-default {
  display: block;
}
#accordion .green {
  background: #217c2a;
}
#accordion strong.green-text {
  font-weight: bold;
  color: #217c2a;
}
#accordion .green-panel {
  background: #a6d8ab;
  border-color: #217c2a;
}
#accordion .gray {
  background: gray;
}
#accordion strong.gray-text {
  font-weight: bold;
  color: gray;
}
#accordion .gray-panel {
  background: #dbdbdb;
  border-color: gray;
}
#accordion .gold {
  background: #939b1b;
}
#accordion strong.gold-text {
  font-weight: bold;
  color: #939b1b;
}
#accordion .gold-panel {
  background: #d9dd94;
  border-color: #939b1b;
}
#accordion .red {
  background: #8e240f;
}
#accordion strong.red-text {
  font-weight: bold;
  color: #8e240f;
}
#accordion .red-panel {
  background: #d69e93;
  border-color: #8e240f;
}
.main-content .art-showcase,
.sidebar .art-showcase {
  width: 95%;
  padding: 4px;
  margin: 20px auto 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: lightgray;
  -webkit-box-shadow: -2px -2px 5px 2px black;
  -moz-box-shadow: -2px -2px 5px 2px black;
  box-shadow: -2px -2px 5px 2px black;
}
.main-content .art-showcase img,
.sidebar .art-showcase img {
  width: 100%;
  height: auto;
}
.main-content .art-showcase figcaption,
.sidebar .art-showcase figcaption {
  text-align: center;
}
